#filtre {
	float:right;
	margin-left: auto;
	width: 38%;
}

#minimap {
	border: 1px inset black;
	height: 400px;
	width: 60%;
	float: left;
}

/* Mise en page des résultats de la recherche */
#allresults {
	clear: both;
	overflow: hidden;
	-ms-overflow-x: auto;
	overflow-x: auto;
}

#allresults ul li{
	width: 350px;
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
}

#allresults ul li img {
	display: block;
	max-width: 350px;
	max-height: 300px;
	margin-left: auto;
}

.imgpreview li {
	border: 1px solid black;
	clear:both;
	overflow: auto;
	overflow-y: hidden;
	white-space:nowrap; 
}

