* {
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

/* CSS du header */
#header {
	height: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid lightblue;
	position: relative;
	z-index: 999;
}

#header_connexion li {
	text-align: center;
	line-height: 50px;
	float: right;
	display: inline-block;
	height: 50px;
	transition: background-color 0.3s, width 0.3s ease 0.15s;
	z-index: 999;
	position: relative;
}

#header_login {width:265px;}
#header_register {width:120px;}

#header_register:hover {
	background-color: rgba(128, 128, 128, 0.8);
}

#header_login:hover {
	width: 265px;
	background-color: rgba(128, 128, 128, 0.8);
}

#header_login div {
	opacity: 0;
	width: 265px;
	height: 0px;
	transition: 0.4s background-color, 0.8s opacity, 0.6s width, 0.6s height, 1s visibility;
	visibility:hidden;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.7);
}

#header_login:hover div {
	opacity: 1;
	height:220px;
	width:265px;
	visibility:visible;
	transition: 0.4s background-color, 0.4s opacity, 0.6s width, 0.6s height, 1s visibility;
	background-color: rgba(128, 128, 128, 0.85);
}

/*#header_login div table {
	text-align: left;
	margin-left: 15px;
	font-style: italic;
	color: rgba(247, 247, 247, 1)
}*/
	#header_login table a {color: rgba(219, 219, 219, 1);}
	#header_login table a:hover {font-style:italic;}

#header_rechercher {
	margin-left: 50px;
	margin-top: 7.5px;
	float: left;
}

#header_rechercher li {
	display: inline-block;
}

#header_logo li {
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.form-control {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s, box-shadow 0.15s ease-in-out;
	background-color: rgba(255, 255, 255, 1);
}

.form-control:focus {
	border-color: #66AFE9;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

	.form-header {
		height: 30px;
		width: 250px;
	}

.btn {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0);
	border-color: #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.btn:hover {
	background-color: rgba(128, 128, 128, 0.20);
	border-color: grey;
}

.btn:active {
	background-color: rgba(127, 127, 127, 1);
}

	.btn-header {
		margin-left: 10px;
		height: 33px;
		width: 70px;
	}
	
.btn-header-connexion {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0);
	border-color: #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.btn-header-connexion:hover {border-color: white;}
	

/* CSS de la page main.php */
#firstarticle {
	border: 1px solid black;
	height: 600px;
}

#best {
	border: 1px solid black;
	height: 500px;
	width: 1100px;
	float: left;
	margin-top: 20px;
}

#bestdesc {
	border: 1px solid black;
	height: 500px;
	width: 400px;
	float: right;
	margin-top: 20px;
}

#renteddesc {
	border: 1px solid black;
	height: 500px;
	width: 400px;
	float: left;
	margin-top: 20px;
}

#rented {
	border: 1px solid black;
	height: 500px;
	width: 1100px;
	float: right;
	margin-top: 20px;
}

/* CSS pour la première page de recherche */
#minimap {
	border: 1px solid black;
	height: 350px;
	width: 780px;
	float: left;
}

#filtre {
	border: 1px solid black;
	margin-right: 1px;
	height: 350px;
	width: 736px;
}

#allresults {
	border: 1px solid black;
	height: 328px;
	clear: both;
	overflow: hidden;
	-ms-overflow-x: auto;
	overflow-x: auto;
}

.imgpreview li {
	border: 1px solid black;
	clear:both;
	overflow: auto;
	overflow-y: hidden;
	white-space:nowrap; 
}

#allresults ul li{
	border:1px solid black;
	height: 230px;
	width: 390px;
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
}

#allresults ul li div {
	border: 1px solid black;
	width: 390px;
	height: 55px;
	margin-top: 212px;
}

/* CSS pour la page de recherche sans minimap */
#filtre3 {
	border: 1px solid black;
	width: 400px;
	height: 700px;
	float: left;
}

#allresults3 {
	border: 1px solid black;
	width: 1110px;
	height: 700px;
	overflow-y: auto;
	margin-right: 0px;
}

#allresults3 div {
	border: 1px solid black;
	height: 220px;
	width: 345px;
	margin: 15px;
	margin-right: 0px;
	display: inline-block;
}
/* FIN */

/* CSS pour la page de logement */
#logementname {
	border: 1px solid black;
	width: 92%;
	height: 70px;
	margin-top: 10px;
}

#slider {
	border: 1px solid black;
	width: 850px;
	height: 450px;
	float: left;
	margin-left: 60px;
}

#logementinfos {
	border:1px solid black;
	width: 500px;
	height: 450px;
	margin-right: 60px;
	margin-top: 20px;
}

#logementdesc {
	border: 1px solid black;
	width: 850px;
	height: 500px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

#userinfos {
	border: 1px solid black;
	width: 500px;
	height: 450px;
	float: right;
	margin-right: 60px;
	margin-top: 20px;
}

#allview {
	border: 1px solid black;
	height: 700px;
	width: 850px;
	float: left;
	margin-top: 20px;
	margin-left: 60px;
}

/* CSS de la page myaccount.php */
#menu_account {
	border: 1px solid black;
	float: left;
	height: 450px;
	width: 300px;
	margin-top: 110px;
	margin-left: 10px;
	border-radius: 0px 25px 25px 0px;
	background-color: rgba(128, 128, 128, 0.8);
}

#menu_account h1 {
	font-size: 1.3em
}

#menu_account li {
	list-style-type: none;
	height: 50px;
	padding: 20px;
	width: 87%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	transition: 0.5s background-color ease;
}

#menu_account li:first-child {
	border-radius: 0px 25px 0px 0px;
}

#menu_account li:last-child {
	border-radius: 0px 0px 25px 0px;
}

#menu_account li:hover {
	background-color: rgba(128, 128, 128, 0.8);
}

#menu_account li div {
	height: 92%;
	/*width:600px;*/ 
	left: 315px;
	top: 0;
	visibility:hidden;
	opacity:0;
	transition:1s left,1s width, 0.7s visibility, 1s opacity;
	position: absolute;
	z-index: 50;
	margin-top: 50px;
	border-radius: 15px;
}

#account_profil:target {
	left: 340px;
	visibility: visible;
	opacity:1;
	/*width: 600px;*/
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}
	#profil_img {
		border: 1px solid black;
		margin-top: 20px;
		margin-left: 20px;
		height: 250px;
		width: 250px;
		float: left;
	}

	#profil_infos {
		margin-top: 20px;
		margin-right: 40px;
		margin-left: 10px;
		height: 250px;
		width: 38.5%;
		float:left;
	}
		
		/*#profil_img img {margin-bottom:50px;}*/
		
		#profil_infos table {
			border: 1px solid #CCCCCC;
			margin-top: 10px;
			margin-left: 15px;
		}
		
		#profil_infos table tr td, th{
			padding: 15px;
			width: 150px;
		}
		
	#profil_avis {
		border: 1px dashed black;
		height: 91.5%;
		width: 40%;
		margin-top: 20px;
		margin-left: 750px;
		position: absolute;
	}
		
	#profil_biographie {
		clear:both;
		margin-top: 320px;
		margin-left: 20px;
		position: absolute;
	}
		
		/*#profil_biographie h2 {float:left;}*/
		
#account_logements:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_modifier:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_historique:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_contact:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

