* {
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

/* CSS pour le header */
#menu {
	height: 50px;
	background-color: lightgrey; 
	/*box-shadow:  3px 3px 2px #494949;*/
}

#connexion li {
	text-align: center;
	line-height: 50px;
	display: inline-block;
	width: 120px;
	height: 50px;
	float: right;
	background-color: lightgrey;
	overflow: hidden;
	-webkit-transition: background-color 0.3s, width 0.3s, height 0.4s ease 0.15s;
	-moz-transition: background-color 0.3s, width 0.3s, height 0.4s ease 0.15s;
	-o-transition: background-color 0.3s, width 0.3s, height 0.4s ease 0.15s;
	-ms-transition: background-color 0.3s, width 0.3s, height 0.4s ease 0.15s;
	transition: background-color 0.3s, width 0.3s, height 0.4s ease 0.15s;
	z-index: 1;
	position: relative;
}

#login:hover {
	width: 265px;
	height: 270px;
	background-color: grey;
}

#register:hover {
	background-color: grey;
}

#rechercher {
	padding: 8px;
	margin-left: 20px;
	float: left;
}

#rechercher li {
	display: inline-block;
}

/* CSS de la page main.php */
#firstarticle {
	border: 1px solid black;
	height: 600px;
}

#best {
	border: 1px solid black;
	height: 500px;
	width: 1100px;
	float: left;
	margin-top: 20px;
}

#bestdesc {
	border: 1px solid black;
	height: 500px;
	width: 400px;
	float: right;
	margin-top: 20px;
}

#renteddesc {
	border: 1px solid black;
	height: 500px;
	width: 400px;
	float: left;
	margin-top: 20px;
}

#rented {
	border: 1px solid black;
	height: 500px;
	width: 1100px;
	float: right;
	margin-top: 20px;
}

/* CSS pour la première page de recherche */
#minimap {
	border: 1px solid black;
	height: 350px;
	width: 780px;
	float: left;
}

#filtre {
	border: 1px solid black;
	margin-right: 1px;
	height: 350px;
	width: 736px;
}

#allresults {
	border: 1px solid black;
	height: 328px;
	clear: both;
	overflow: auto;
	overflow-y: hidden;
	white-space:nowrap; 
}

#allresults ul li{
	border:1px solid black;
	height: 230px;
	width: 390px;
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
}

#allresults ul li div {
	border: 1px solid black;
	width: 390px;
	height: 55px;
	margin-top: 212px;
}

/* CSS pour la page de recherche sans minimap */
#filtre3 {
	border: 1px solid black;
	width: 400px;
	height: 700px;
	float: left;
}

#allresults3 {
	border: 1px solid black;
	width: 1110px;
	height: 700px;
	overflow-y: auto;
	margin-right: 0px;
}

#allresults3 div {
	border: 1px solid black;
	height: 220px;
	width: 345px;
	margin: 15px;
	margin-right: 0px;
	display: inline-block;
}


/* CSS pour la page de logement */
#logementname {
	border: 1px solid black;
	width: 92%;
	height: 70px;
	margin-top: 10px;
}

#slider {
	border: 1px solid black;
	width: 850px;
	height: 450px;
	float: left;
	margin-left: 60px;
}

#logementinfos {
	border:1px solid black;
	width: 500px;
	height: 450px;
	margin-right: 60px;
	margin-top: 20px;
}

#logementdesc {
	border: 1px solid black;
	width: 850px;
	height: 500px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

#userinfos {
	border: 1px solid black;
	width: 500px;
	height: 450px;
	float: right;
	margin-right: 60px;
	margin-top: 20px;
}

#allview {
	border: 1px solid black;
	height: 700px;
	width: 850px;
	float: left;
	margin-top: 20px;
	margin-left: 60px;
}

/* CSS de la page myaccount.php */
#menu_account {
	border: 1px solid black;
	float: left;
	height: 500px;
	width: 300px;
	margin-top: 50px;
	margin-left: 25px;
	border-radius: 15px;
}

#menu_account li {
	list-style-type: none;
	height: 50px;
	padding: 20px;
	width: 85%;
	overflow: hidden;
	font-size: 1.3em;
	border-radius: 15px;
	background-color: white;
	transition: 0.7s background-color;
}

#menu_account li:hover {
	background-color: grey;
	transition: 0.7s background-color;
}

#menu_account li div {
	border: 1px solid black;
	height: 92%;
	width:600px; 
	left: 350px;
	top: 0;
	visibility:hidden;
	opacity:0;
	transition:1s left,1s width, 0.7s visibility, 1s opacity;
	position: absolute;
	text-align: center;
	margin-top: 50px;
	overflow:auto;
	border-radius: 15px;
}

#account_resume:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_profil:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_louer:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}