@keyframes AutoSlide {
    0%, 15%, 100% {
        left: 0px; /*1ère image*/
    }
    35%, 50% {
        left: -100%; /*2ème image*/
    }
    70%, 85% {
        left: -201%; /*3ème image*/
    }
}

* {
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

/* CSS du header */
#header {
	height: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid lightblue;
	position: relative;
	z-index: 999;
}

#header_connexion li {
	text-align: center;
	line-height: 50px;
	float: right;
	display: inline-block;
	height: 50px;
	transition: background-color 0.3s, width 0.3s ease 0.15s;
	z-index: 999;
	position: relative;
}

#header_login {width:265px;}
#header_register {width:120px;}
#header_register input[type="submit"]
{
    margin: 0;
    padding: 0;
    line-height: 100%;
    border: 0;
    background: none;
    font: purple;
    color: purple;
    text-decoration: none;
    cursor:pointer;
}

/*#header_register:hover {
	background-color: rgba(128, 128, 128, 0.8);
}

#header_login:hover {
	background-color: rgba(128, 128, 128, 0.8);
}*/

#header_login div {
	opacity: 1;
	width: 265px;
	height: 0px;
	transition: 0.4s background-color, 0.8s opacity, 0.6s height, 1s visibility;
	visibility:hidden;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 2px solid lightblue;
	border-right: 2px solid lightblue;
	border-left: 2px solid lightblue;
}

#header_login:hover div {
	opacity: 1;
	height:220px;
	visibility:visible;
	transition: 0.4s background-color, 0.4s opacity, 0.6s height, 1s visibility;
	background-color: rgba(255, 255, 255, 1);
}

/*#header_login div table {
	text-align: left;
	margin-left: 15px;
	font-style: italic;
	color: rgba(247, 247, 247, 1)
}*/
	#header_login table a {color: rgba(219, 219, 219, 1);}
	#header_login table a:hover {font-style:italic;}

#header_rechercher {
	margin-left: 50px;
	margin-top: 7.5px;
	float: left;
}

#header_rechercher li {
	display: inline-block;
}

#header_logo li {
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.form-control {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s, box-shadow 0.15s ease-in-out;
	background-color: rgba(255, 255, 255, 1);
}

.form-control:focus {
	border-color: #66AFE9;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

	.form-header {
		height: 30px;
		width: 250px;
	}

.btn {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0);
	border-color: #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.btn:hover {
	background-color: rgba(128, 128, 128, 0.20);
	/*background-color: rgba(144, 238, 144, 0.20);*/
	border-color: grey;
}

.btn:active {
	background-color: rgba(127, 127, 127, 0.65);
}

	.btn-header {
		margin-left: 10px;
		height: 33px;
		width: 70px;
	}
	
	.btn-profil {
		float:right;
		margin:10px; 
		height:30px; 
		width:100px;
	}
	
.btn-header-connexion {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0);
	border-color: #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.btn-header-connexion:hover {border-color: white;}


/* FIN */
/* CSS de la page main.php */

#slideshow {
    position: relative;
    width: 85%;
    height: 600px;
    margin:  20px auto;
    overflow: hidden;
    
}
#sContent li {
    display: inline;
}
#sContent:hover {
	-moz-animation-play-state:paused;
	
}

#sContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    margin: 0;            
    padding: 0;
    -moz-animation-name: AutoSlide;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

#best {
	border: 1px solid black;
	height: 500px;
	width: 1100px;
	float: left;
	margin-top: 20px;
}

#bestdesc {
	border: 1px solid black;
	height: 500px;
	width: 400px;
	float: right;
	margin-top: 20px;
}

#renteddesc {
	border: 1px solid black;
	height: 500px;
	width: 400px;
	float: left;
	margin-top: 20px;
}

#rented {
	border: 1px solid black;
	height: 500px;
	width: 1100px;
	float: right;
	margin-top: 20px;
}

/* CSS pour la première page de recherche */
#minimap {
	border: 1px solid black;
	height: 400px;
	width: 780px;
	float: left;
}

#filtre {
	margin-top:50px;
	float:right;
	margin-right: 1px;
	height: 212px;
	width: 568px;
}

#allresults {
	border: 1px solid black;
	height: 328px;
	clear: both;
	overflow: hidden;
	-ms-overflow-x: auto;
	overflow-x: auto;
}

.imgpreview li {
	border: 1px solid black;
	clear:both;
	overflow: auto;
	overflow-y: hidden;
	white-space:nowrap; 
}

#allresults ul li{
	border:1px solid black;
	height: 230px;
	width: 390px;
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
}

#allresults ul li div {
	border: 1px solid black;
	width: 390px;
	height: 55px;
	margin-top: 212px;
}

/* CSS pour la page de recherche sans minimap */
#filtre3 {
	border: 1px solid black;
	width: 400px;
	height: 700px;
	float: left;
}

#allresults3 {
	border: 1px solid black;
	width: 1110px;
	height: 700px;
	overflow-y: auto;
	margin-right: 0px;
}

#allresults3 div {
	border: 1px solid black;
	height: 220px;
	width: 345px;
	margin: 15px;
	margin-right: 0px;
	display: inline-block;
}
/* FIN */

/* CSS pour la page de logement */
#logementname {
	border: 1px solid black;
	width: 92%;
	height: 70px;
	margin-top: 10px;
}

#slider {
	border: 1px solid black;
	width: 56%;
	height: 450px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

#logementinfos {
	width: 24%;
	height: 990px;
	margin-right: 12%;
	margin-top: 20px;
	float:right;
}
	
	#logement_infos {
		width:100%;
		height:23%;
		background-color: rgba(230, 230, 230, 0.65);
		border-radius:2px;
		border:1px solid rgba(0,0,0,0.10);
	}
	
	#logement_text {
			margin-top: 40px;
			margin-left:60px;
			color: #A4A4A4;
			float:left;
			font-size: 1.4em;
		}
		
	#logement_price {
		margin-left:52px;
		margin-top: 30px;
		font-size: 2.5em;
		color:grey;
		float: left;
	}
	
	#logement_date {
		clear:both;
		width:95%;
		margin-top: 140px;
		margin-left: 15px;
	}
	
	.logement_date {
		display: inline-block;
		padding:5px;
	}
	
	#logementlouer {
		border:1px solid black;
		height: 80px;
		width: 100%;
		background-color: rgba(255,255,255, 0.85);
		border: 1px solid rgba(0,0,0, 0.10);
		border-radius:2px;
	}

#userinfos {
	width: 100%;
	height: 58%;
	float: left;
	margin-top: 75px;
}

	#user_avatar {
		height: 60%;
		width:100%;
		background-color: rgba(230, 230, 230, 0.65);
		border-radius:2px;
		border:1px solid rgba(0,0,0,0.10);
	}
	
		#user_avatar img {margin-top:26px; margin-left: 16%;}
		#user_avatar div {width: 100%; text-align:center; font-size:1.6em;margin-top:20px;}
	
	#user_infos {
		height:42%;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.85);
		border-radius:2px;
		border:1px solid rgba(0,0,0,0.10);
	}
	
		#user_infos table {
			width: 100%;
			height: 100%;
		}
		#user_infos table th {text-align:center; color:rgba(180,180,180,1);}
		#user_infos table td {text-align:center;}

#logementdesc {
	border: 1px solid black;
	width: 56%;
	height: 500px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

#allview {
	border: 1px solid black;
	height: 700px;
	width: 850px;
	float: left;
	margin-top: 20px;
	margin-left: 60px;
}

.form-logement_infos {
	height: 30px;
	width: 100px;
}
.for-logement_infos2 {width:50px;}

.btn_louer {
	height: 50px;
	width: 80%;
	margin-top: 15px;
	margin-left: 41px;	
}

/* FIN */
/* CSS de la page myaccount.php */
#menu_account {
	border: 1px solid black;
	float: left;
	height: 450px;
	width: 300px;
	margin-top: 110px;
	margin-left: 10px;
	border-radius: 0px 25px 25px 0px;
	background-color: rgba(128, 128, 128, 0.8);
}

#menu_account h1 {
	font-size: 1.3em
}

#menu_account li {
	list-style-type: none;
	height: 50px;
	padding: 20px;
	width: 87%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	transition: 0.5s background-color ease;
}

#menu_account li:first-child {
	border-radius: 0px 25px 0px 0px;
}

#menu_account li:last-child {
	border-radius: 0px 0px 25px 0px;
}

#menu_account li:hover {
	background-color: rgba(128, 128, 128, 0.8);
}

#menu_account li div {
	height: 92%;
	width:76%; 
	left: 315px;
	top: 0;
	visibility:hidden;
	opacity:0;
	transition:1s left,1s width, 0.7s visibility, 1s opacity;
	position: absolute;
	z-index: 50;
	margin-top: 50px;
	border-radius: 15px;
}

#account_profil:target {
	left: 340px;
	visibility: visible;
	opacity:1;
	/*width: 600px;*/
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}
	#profil_img {
		margin-top: 20px;
		margin-left: 20px;
		width: 250px;
		float: left;
	}

	#profil_infos {
		margin-top: 20px;
		margin-right: 115px;
		height: 250px;
		width: 55%;
		float:right;
	}
		
		#profil_infos table {
			border: 2px solid #CCCCCC;
			width: 100%;
			height: 100%;
			/*margin-top: 10px;
			margin-left: 15px;*/
		}
		
		#profil_infos table tr th {padding:10px; background-color:rgba(128,128,128, 0.2); text-align:center;}
		#profil_infos table tr td {padding:10px; background-color:rgba(200,200,200, 0.2);}
		
	/*#profil_avis {
		height: 91.5%;
		width: 40%;
		margin-top: 20px;
		margin-left: 720px;
		position: absolute;
		overflow: auto;
	}
	
		.avis_user {margin-bottom:15px;}
		.avis_user table {border: 1px solid lightblue;}
		.avis_user table tr th {padding-bottom: 15px; text-align: left;}
		.avis_user table tr td {padding: 10px; width: 370px; text-align: justify; height:100px;}*/
		
	#profil_biographie {
		clear:both;
		float:left;
		margin-left: 20px;
		margin-top: 15px;
	}
		
	#profil_footer {width:100%; border-top:2px solid #CCCCCC; float:left; margin-top:10px;}
		
#account_logements:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_modifier:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}
	
	#logements {
		border: 1px dashed black;
		margin-top: 20px;
		width: 1180px;
		height: 40%;
	}
	
	#modifier_logements {
		border: 1px solid black;
		margin-top: 10px;
		width: 100%;
		height: 50%;
	}


#account_historique:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

#account_contact:target {
	visibility: visible;
	opacity:1;
	width: 77%;
	left: 340px;
	transition: 1s left, 1s width, 0.7s visibility, 1s opacity;
}

