* {
	margin: 0px;
	padding: 0px;
}

html {
height: 100%;				/* Permet d'avoir un menu qui occupe toute la hauteur de la page */
}

body {
	height: 100%;			/* Permet d'avoir un menu qui occupe toute la hauteur de la page */
}

menu {
	float: left;
	width: 200px;
	height: 100%;			/* Permet d'avoir un menu qui occupe toute la hauteur de la page */
	padding: 10px;
}

menu li {
	display: inline-block;
	line-height: 35px;
	list-style-type: none;
	margin-top: 10px;
	padding-left: 20px;
	height: 35px;
	width: 190px;
}

section {
	float: left;
	padding: 20px;
	width: auto;
}

.masque {
	visibility: hidden; 
}
